Create a program using while loop, in which you sum all input values given by the user, as long as the value is 'N'.

In [4]:
x = ''                   #starting value
y = 'N'                  #ending value
sum = 0                 #sum of value after addition of each value.
while x != 'N':           #run this loop as long as starting value is < ending value
    x = input("Enter Number = ")
    if x != 'N':
        sum = sum + int(x)       #Add x in sum value, as long as the condition is met.

print(sum)

Enter Number = 10
Enter Number = 20
Enter Number = N
30

write the following form. 

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [1]:
i = 1
while i <= 5:
    j = 1
    while j <= 5:
        print(j, end =' ')
        j = j+1
    print()
    i+=1

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

write the following form. 

1 
1 2 
1 2 3
1 2 3 4
1 2 3 4 5

In [8]:
i = 1                           #i shows # of rows
while i <= 5:                   #run this loop as long as i <= 5
    j = 1                       #j shows # of columns
    while j <= i:               #run this loop as long as columns are less than/equal to loops.
        print(j, end =' ')      #print columns, end it with space instead of enter
        j = j+1                 #after every column, add 1 in the number
    print()                     #put enter
    i+=1                        #after every row, add 1 in the number

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# For Loops

Create a program, in which "Python Programming" is written with spaces in between. Do it with while loop.

In [10]:
s1 = "Python Programming"
for x in s1:
    print(x, end = ' ')

P y t h o n   P r o g r a m m i n g

Create a program, in which "Python Programming" is written with spaces in between and vowels are not included. Do it with for loop.

In [12]:
s1 = "Python Programming"
for x in s1:
    if x not in 'aeiou':
        print(x, end = ' ')

P y t h n   P r g r m m n g

Create a program in which you write numbers between 1-10.

In [19]:
x = 1
y = 10
interval = 2
for i in range(x, y+1, interval):
    print(i, end = ' ')

1 3 5 7 9

Create a program, in which "Python Programming" is written with spaces in between. Do it with for loop. If the condition is not met, type End.

In [22]:
s1 = "Python Programming"
#d is not defined as variable yet.
for d in s1:
    print(d, end = " ")
else:
    print()
    print("End")

P y t h o n   P r o g r a m m i n g
End

## Adding a List in Loop (by Mosh)

In [1]:
#adding a list in for loop

for item in ['Mosh', 'John', 'Sarah']:
    print(item)

Mosh
John
Sarah

In [3]:
for item in range(5,10): #start from 5 and end at 9
    print(item)

5
6
7
8
9

In [4]:
prices = [10,20,30]

total = 0
for price in prices:
    total += price
print(f'Total: {total}')

Total: 60

In [7]:
#nested loop

for x in range(4):
    for y in range(3):
        print(f'({x},{y})')

(0,0)
(0,1)
(0,2)
(1,0)
(1,1)
(1,2)
(2,0)
(2,1)
(2,2)
(3,0)
(3,1)
(3,2)

In [8]:
numbers = [5,2,5,2,2]
for x_count in numbers:
    print('x' *x_count)

xxxxx
xx
xxxxx
xx
xx

In [10]:
numbers = [5,2,5,2,2]
for x_count in numbers:
    output = ''
    for count in range(x_count):
        output += 'x'
    print(output)

xxxxx
xx
xxxxx
xx
xx

In [11]:
numbers = [2,2,2,2,5,5]
for x_count in numbers:
    output = ''
    for count in range(x_count):
        output += 'x'
    print(output)

xx
xx
xx
xx
xxxxx
xxxxx

## Azad Chaiwala Continues

write the following form using for loop. 

1 
1 2 
1 2 3
1 2 3 4
1 2 3 4 5

In [28]:
for i in range(1, 6):         #i = rows, loop will continue till condition is met.
    for j in range(1, i+1):   #j = columns, loop will continue till column exceed rows
        print(j, end = ' ')   #print column, end with space
    print()                   #insert enter

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

if i = 5, in the previous example, how will 'j' perform.

In [32]:
i = 5
for j in range(1,i+1):
    print(j, end=' ')

1 2 3 4 5

# Continue

Write 1-5. but skip 3.

In [40]:
i = 1
while i <= 5:
    if i == 3:
        i+=1
        continue
    print(i, end="")
    i+=1

1245

In [42]:
s1 = "Hello World"
for x in s1:
    if x in 'aeiou':
        continue
    print(x, end = " ")

H l l   W r l d

# Break

In [50]:
s1 = "Hello World"
for x in s1:
    if x in ' ':
        break
    print(x,end="")
else:
    print("Else")

Hello

In [47]:
x = ''                   #starting value
y = 'N'                  #ending value
sum = 0                 #sum of value after addition of each value.
while True:           #run this loop as long as starting value is < ending value
    x = input("Enter Number = ")
    if x == 'N':
        break   
    sum = sum + int(x)       #Add x in sum value, as long as the condition is met.

print(sum)

Enter Number = 10
Enter Number = 20
Enter Number = N
30