# List [], Tuple {}, Set ()

A list can include: integer, string, boolean, tuple, set, etc.

Properties:
Items in list are indexed.
Items in list are ordered.
Lists are mutable. 
There can be duplicates.
Lists can be multiplied,

append()
clear()
copy()
count()
extend()
index()
insert()
pop()
remove()
reverse()
sort()
sort(reverse = True)

Slicing can be performed

In [89]:
fruit_names_change = ['Apple', 'Mango', 'Orange', 'Grapes', 'Mange']

In [79]:
print(fruit_names[2:5])

['Orange', 'Grapes', 'Mange']

## Creating list using constructor

In [80]:
marks = list((120,200,150,220,100))

## 2D Lists

In [81]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print(matrix[0][1])

2

In [63]:
matrix[0][1] = 20
print(matrix)

[[1, 20, 3], [4, 5, 6], [7, 8, 9]]

In [65]:
for row in matrix:
    for item in row:
        print(item, end =' ')

1 20 3 4 5 6 7 8 9

## Update, Add, and Remove an item from list

Add Banana at index 1

In [90]:
fruit_names[1] = 'Banana'
print(fruit_names)

['Apple', 'Banana', 'Orange', 'Grapes', 'Mange']

Insert 'Water Melon' at last index.

In [91]:
fruit_names.append('Water Melon')
print(fruit_names)

['Apple', 'Banana', 'Orange', 'Grapes', 'Mange', 'Water Melon']

insert 'Pine Apple' at index 2

In [92]:
fruit_names.insert(2, 'Pine Apple')
print(fruit_names)

['Apple', 'Banana', 'Pine Apple', 'Orange', 'Grapes', 'Mange', 'Water Melon']

remove orange

In [93]:
fruit_names.remove('Orange')
print(fruit_names)

['Apple', 'Banana', 'Pine Apple', 'Grapes', 'Mange', 'Water Melon']

remove last item

In [94]:
fruit_names.pop()
print(fruit_names)

['Apple', 'Banana', 'Pine Apple', 'Grapes', 'Mange']

remove all values in the list.

print(fruit_names)
fruit_names.clear()
print(fruit_names)

In [96]:
#find index of a certain value
print(fruit_names.index('Pine Apple'))

2

In [98]:
#find if a certain number exists in a list.
print('Pine Apple' in fruit_names)

True

In [99]:
#add a number or string in the list. 

fruit_names.append('Pine Apple')
print(fruit_names.count('Pine Apple'))

2

In [100]:
#sort the items in the list.

numbers = [5,2,1,5,7,4]
numbers.sort() #sorts the items in ascending order
numbers.reverse() #sorts the items in reverse order. 
print(numbers)

[7, 5, 5, 4, 2, 1]

In [105]:
numbers.reverse() #sorts the items in reverse order. 
print(numbers)

[1, 2, 4, 5, 5, 7]

In [107]:
#create a copy of the list.

numbers2 = numbers.copy()
numbers2.append(5)

print(numbers)
print(numbers2)

[1, 2, 4, 5, 5, 7]
[1, 2, 4, 5, 5, 7, 5]

In [190]:
numbers2 = [1, 2, 4, 5, 5, 2, 1, 7, 7, 5]
l = len(numbers2)
numbers2.sort()
for n in numbers2: #n here represents each value one by one.nu..
    while numbers2.count(n) > 1:
        numbers2.pop(numbers2.index(n))
        print("This number will be popped also", n)
        
print(numbers2)

This number will be popped also 1
This number will be popped also 2
This number will be popped also 5
This number will be popped also 5
This number will be popped also 7
[1, 2, 4, 5, 7]

In [186]:
#removing duplicates by converting list into set. 
numbers2 = [1, 2, 4, 5, 5, 2, 1, 7, 7, 5]
print(numbers2)
numbers2 = set(numbers2)
print(numbers2)
numbers2 = list(numbers2)
print(numbers2)

[1, 2, 4, 5, 5, 2, 1, 7, 7, 5]
{1, 2, 4, 5, 7}
[1, 2, 4, 5, 7]

In [187]:
#removing duplicates by converting list into set. 
numbers2 = [1, 2, 4, 5, 5, 2, 1, 7, 7, 5]

OrderedDict.fromkeys(numbers2)

NameError: name 'OrderedDict' is not defined

### How to apply loop

In [27]:
test_list =['test', 12, 30.50, True, fruit_names]

In [28]:
for m in marks:
    print(m)

120
200
150
220
100

In [30]:
l = len(marks)
i = 0
while i<l:
    print(marks[i])
    i+= 1

120
200
150
220
100

### Find Max Number

In [31]:
max = marks[0]
for m in marks:
    if m>max:
        max = m
        
print(max)

220

### List Compression
newlist = [expression for item in iterable if condition == True]

In [32]:
numbers = [20,50,68,89,100,119,34,8,19]

make a list with even numbers from 'numbers

In [33]:
even = []
for n in numbers: 
    if n % 2 == 0:
        even.append(n)
print(even)

[20, 50, 68, 100, 34, 8]

In [36]:
#Iterable form
even = [m for m in numbers if m % 2 == 0]      #print what is before for if the condition is true.
print(even)

[20, 50, 68, 100, 34, 8]

## Tuples

Properties:
Order of items cannot be changed.
Items are indexed.
Tuple is immutable. 
it can include duplicates.
It is used for items that don't change, like month names, and week days.

In [54]:
weekdays = ('Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun')

In [38]:
print(weekdays)
print(type(weekdays))

('Mon', 'Tue', 'Wed', 'Thur', 'Fri', 'Sat', 'Sun')
<class 'tuple'>

In [ ]:
#Slicing is same in all.

In [ ]:
# only one item in the tuple, give a comma
country_list = ('Pakistan',)

In [39]:
# len shows number of items

## Tuple Constructor

In [40]:
months = tuple(('Jan','Feb','Mar'))

## Update, Add, Remove
In order to update, add, or remove from Tuple, convert it to list first.

In [53]:
weekdays_list = list(weekdays)
print(type(weekdays_list))
weekdays_list.append("Sat")
print(weekdays_list)
weekdays = tuple(weekdays_list)
print(weekdays)
print(type())

SyntaxError: invalid syntax (1615327898.py, line 3)

#Addition of two tuples can be done.

In [50]:
month1 = tuple(('Jan', 'Feb', 'Mar'))
month2 = tuple(('Apr', 'May', 'Jan'))
months = month1 + month2
print(months)
print(type(months))

('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jan')
<class 'tuple'>

## Unpacking:

It is like giving index values

In [55]:
(day1, day2, day3, day4, day5, day6, day7) = weekdays
print(day1)
print(day2)
print(day5)

Mon
Tue
Fri

## Sets

used to show collection of data
It is not ordered/indexed
It is unchangeable, but new item can be added and previous item can be removed.
Duplicates are not allowed.

add
clear
copy
difference
difference_update
discard
intersection
intersection_update
indisjoint
issubset
sisuperset
pop
remove
symmetric_difference
ymmetric_difference_update
union
update

In [59]:
country_name = {'Pakistan', 'USA', 'Canada'}
print(type(country_name))
print(country_name)

<class 'set'>
{'USA', 'Canada', 'Pakistan'}

In [60]:
country_name.add("Japan")
print(country_name)
country_name.remove("Canada")
print(country_name)

{'USA', 'Canada', 'Pakistan', 'Japan'}
{'USA', 'Pakistan', 'Japan'}