In [1]:
import pandas as pd
my_file = pd.DataFrame( [[10,20,30],[100,200,300],[101,201,301]])
print(my_file)

     0    1    2
0   10   20   30
1  100  200  300
2  101  201  301

In [3]:
#now define column names and row names
my_file = pd.DataFrame([[10,20,30],[100,200,300],[101,201,301]],['Row1','Row2','Row3'],['Col1','Col2','Col3'])
print(my_file)

      Col1  Col2  Col3
Row1    10    20    30
Row2   100   200   300
Row3   101   201   301

In [6]:
#create DataFrame from Dictionaries
d = {
    "person1" :{"name":"Qadir","Salary":12000,"Profile":"SD1"},
    "person2": {"name":"Mahmood","Salary":11000,"Profile":"SD2"},
    "person3": {"name":"Fazil","Salary":14000,"Profile":"SD3"}
    
}
d_file = pd.DataFrame(d)
print(d_file)

        person1  person2 person3
name      Qadir  Mahmood   Fazil
Salary    12000    11000   14000
Profile     SD1      SD2     SD3

In [9]:
#create DataFrame using numpy
import numpy as nd
dnum=pd.DataFrame(nd.arange(1,51).reshape(10,5),['Row1','Row2','Row3','Row4','Row5','Row6','Row7','Row8','Row9','Row10'],['Col1','Col2','Col3','Col4','Col5'])
print(dnum)

       Col1  Col2  Col3  Col4  Col5
Row1      1     2     3     4     5
Row2      6     7     8     9    10
Row3     11    12    13    14    15
Row4     16    17    18    19    20
Row5     21    22    23    24    25
Row6     26    27    28    29    30
Row7     31    32    33    34    35
Row8     36    37    38    39    40
Row9     41    42    43    44    45
Row10    46    47    48    49    50

In [10]:
print(dnum.info())
print(dnum.head())
print(dnum.describe)

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, Row1 to Row10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Col1    10 non-null     int32
 1   Col2    10 non-null     int32
 2   Col3    10 non-null     int32
 3   Col4    10 non-null     int32
 4   Col5    10 non-null     int32
dtypes: int32(5)
memory usage: 280.0+ bytes
None
      Col1  Col2  Col3  Col4  Col5
Row1     1     2     3     4     5
Row2     6     7     8     9    10
Row3    11    12    13    14    15
Row4    16    17    18    19    20
Row5    21    22    23    24    25
<bound method NDFrame.describe of        Col1  Col2  Col3  Col4  Col5
Row1      1     2     3     4     5
Row2      6     7     8     9    10
Row3     11    12    13    14    15
Row4     16    17    18    19    20
Row5     21    22    23    24    25
Row6     26    27    28    29    30
Row7     31    32    33    34    35
Row8     36    37    38    39    40
Row9     41    42    43    44    45
Row10    46    47    48    49    50>

In [11]:
print(dnum[['Col2','Col3']])

       Col2  Col3
Row1      2     3
Row2      7     8
Row3     12    13
Row4     17    18
Row5     22    23
Row6     27    28
Row7     32    33
Row8     37    38
Row9     42    43
Row10    47    48

In [13]:
print(dnum.loc['Row1'])

Col1    1
Col2    2
Col3    3
Col4    4
Col5    5
Name: Row1, dtype: int32

In [14]:
dnum.to_csv('numbers.csv')

In [15]:
df = pd.read_csv('PGC.csv')

In [16]:
df.describe()

        Rate   Remarks
count   124.0      0.0
mean     10.0      NaN
std       0.0      NaN
min      10.0      NaN
25%      10.0      NaN
50%      10.0      NaN
75%      10.0      NaN
max      10.0      NaN

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 124 entries, 0 to 123
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Date               124 non-null    object
 1   ItemID             124 non-null    object
 2   Category           124 non-null    object
 3   Items Description  124 non-null    object
 4   Unit               124 non-null    object
 5    Qty               124 non-null    object
 6    Rate              124 non-null    int64
 7    Amount            124 non-null    object
 8   Issued For         124 non-null    object
 9   Remarks            0 non-null      float64
 10  Seq Code           124 non-null    object
dtypes: float64(1), int64(1), object(9)
memory usage: 10.8+ KB